<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{asset('assets/css/homepage.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <title>Accueil</title>
  </head>
  <body>
<header class="header">
  <div class="header-inner">
    <div class="container-fluid px-lg-5">
      <nav class="navbar navbar-expand-lg my-navbar">
            <a class="navbar-brand" href="#"><span class="logo">
              <img src="{{asset('assets/img/logo5.png')}}" class="img-fluid" style="width:30px; margin:-3px 0px 0px 0px;">Néro Mark</span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"><i class="fas fa-bars" style="margin:5px 0px 0px 0px;"></i></span>
            </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">
            <li class="nav-item active">
              <a class="nav-link active" href="#scrollspyHeading1">Accueil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#scrollspyHeading2">A propos</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="#scrollspyHeading3">Produits</a>
              <!-- </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Pricing
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                  </li> -->
          </ul>
        <form class="form-inline my-2 my-lg-0">
          {% if app.user %}
          <a href="#" class="header-btn my-2 mx-2 my-sm-0" type="submit">Mon compte</a>
          <a href="{{path('app_logout')}}" class="header-btn my-2 mx-2 my-sm-0" type="submit">Deconnecter</a>
          {% else %}
            <a href="{{path('connexion')}}" class="header-btn my-2 mx-2 my-sm-0" type="submit">Se connecter</a>
            <a href="{{path('inscription')}}" class="header-btn my-2 mx-2 my-sm-0" type="submit">S'inscrire</a>
          {% endif %}
        </form>
      </div>
</nav>
    </div>
  </div>
</header>

<section class="content-banner" style="color: #ffffff;
      background-image: url({{asset('assets/img/Penguins.jpg')}});
      min-height:400px;
      height:100%;
      position: relative;
      background-position: center center;
      background-size: cover;
      padding-top: 125px;">
      <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
          <div class="banner-con text-center">
            <p class="first-title">La plateforme éco-responsable</p>
            <p class="banner-des">Réunissant les vendeurs locaux et les clients</p>
            <a href="{{path('inscription')}}" target="_blank" class="banner-btn">Demarrer ici gratuitement</a>
          </div>
        </div>
      </div>
      </div>
</section>


    {% block javascript %}
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}
    

    {% block content %}
    
        <h2 class="m-4 d-flex justify-content-center">Mon récapitulatif</h2>
        <p class="d-flex justify-content-center">Vérifier vos informations avant de payer votre commande </p>
        <hr>
        <div class="container m-5 bg-light rounded">
          <div class="row">
            <div class="col-md-6 py-3 px-5">
                <strong>Mon adresse de livraison</strong> </br>
                <div class="form-check mt-4">
                    {{delivery | raw }}
                </div>
        
            <hr> 
        
            <strong> Mon transporteur </strong> <br>
            <div class="form-check my-5">
                    {{ carrier.nom }} <br>
                    {{ carrier.description }} <br>
                    {{ (carrier.prix) | number_format(0, ',','.') }} Ar
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center my-3">   
                    <b>Ma commande</b> </br>
                </div>
                
                <div class="order-summary">
                    {% set total = null %}
                    {% for key,product in cart %}
                    <div class="row {% if key > 0 %} mt-2 {% endif %}">
                            <div class="col-md-2">
                                <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.nom }}" height="75px">
                            </div>
                            <div class="col-md-7 my-auto">
                                {{ product.product.nom }} </br>
                                <small>
                                    {{ product.product.subtitle }} 
                                        <br> 
                                    x {{product.quantity}} 
                                </small> 
                            </div>
                            <div class="col-md-3 my-auto">
                                {{ ((product.product.prix * product.quantity)) | number_format(0, ',','.') }} Ar
                            </div>
                        </div> 
                        {% set total = total + (product.product.prix * product.quantity)  %}
                    {% endfor %}
                </div>
            <hr>
            <strong>Sous-total : </strong>{{ (total) | number_format(0, ',','.') }} Ar</br>
            <strong>Livraison : </strong> {{ (carrier.prix) | number_format(0, ',','.') }} Ar
            <hr>
            <strong>Total : </strong> {{ ((total ) + (carrier.prix)) | number_format(0, ',','.') }} Ar
            
    
           
        </div>
    </div>  
        </div>
        <div class="container-fluid my-5">
          <div class="row d-flex justify-content-around">
                <div class="col-3">
                    <div class="card">
                        <img src="{{asset('assets/img/Stripe.png')}}" alt="Airtel" width="300px">
                        <h2 class="d-flex justify-content-center text-dark">Payer par | <br> Stripe</h2>
                        <button class="btn btn-primary btn-block py-4">
                            <a class=" mt-3 w-100 " id="checkout-button"> La Somme de : {{ ((total) + (carrier.prix)) | number_format(0, ',','.') }} Ar</a>
                        </button>
                        
                    </div>
                </div>
                <div class="col-3">
                   <div class="card">
                    <img src="{{asset('assets/img/Airtel.png')}}" alt="Airtel" width="300px">
                    <h2 class="d-flex justify-content-center px-5 text-dark">Payer par  | AirtelMoney</h2>
                    
                        <a class="text-white mt-3 " href="{{path('app_airtel', {'reference' : reference})}}" >La Somme de : {{ ((total) + (carrier.prix)) | number_format(0, ',','.') }} Ar</a>
                     
                    
                   </div>
                </div>
        </div>
        </div>
    
    {% endblock %}
    
    {% block script %}
        <script type="text/javascript">
    
            var stripe = Stripe("pk_test_51N9NztKPuEcJO0FFWM9XxXBtUNmVpnIu927F5DlyKuHxdSoFUrIgK6RgbW2HPXklKmi42NRu945XOXElOfsFHuAi00jdYX5Yox");
            var checkoutButton = document.getElementById("checkout-button");
            checkoutButton.addEventListener("click", function(){
                    fetch("/commande/create-session/{{ reference }}", {
                        method: "POST",
                    })
                    .then(function(response){
                        return response.json();
                    })
    
                    .then(function (session){
                        if (session.error == 'commande'){
                            // redirection   
                            window.location.replace('{{ path('order')}}');
                        } else{
                            return stripe.redirectToCheckout({ sessionId: session.id});
                        }
                    })
    
                    .then(function(result){
                        if(result.error){
                            alert(result.error.message);
                        }
                    })
    
                    .catch(function(error){
                        console.error("Error:", error);
                    })
            });
    
        </script>
    {% endblock %}
    </body>
</html>